
html {
    height: 100%;
}

body {
    height: 100%;
    padding-top: 20px;
    background-image: url('../images/sunset.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

ul.forecast-list {
    padding-left: 0;
}

li.forecast {
    list-style-type: none;
}

li.forecast h2 {
    margin-top: 0;
}
